@media screen and (min-width: 1201px) {
  .nd {
    display: none;
  }
  .container section>.center {
    width: 56%;
    float: left;
    clear: none;
    padding-left: 22%;
  }
  .container section>.left {
    width: 22%;
    float: left;
    clear: none;
    margin-left: -78%;
  }
  .container section>.right {
    width: 22%;
    float: left;
    clear: none;
  }
  .cover>h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 30px 0;
  }
}
@media screen and (min-width: 1401px) {
  .container {
    max-width: 1350px;
    margin: 20px auto 40px;
    box-shadow: 0 10px 20px #555;
  }
}
