@media screen and (min-width: 501px)
	nav
		padding-top 150px
	.container
		& section
			& figure
				width 45%
			&>.left 
				width 50%
				float left
				clear left
			&>.right
				width 50%
				float right
				clear right
			 
		& footer
			margin-bottom -5px
			&>div
				width 50%
				float left
				&:nth-child(3n)
					clear left