.media
	width auto
	height auto
	margin 0
	padding 0
	& video
		width 100%
		height auto
		margin 0
		padding 0
	// .mejs-container
		// width 100%
		// min-height 300px
.mejs-mediaelement
	& video
		display block
		width 100%
		height auto